* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
}
#nav_bar {
    height: 80px;
    width: 100vw;
    /* background-color: cadetblue; */
    display: flex;
    box-shadow: 0px 0px 5px 0px;
}

#myntra_logo {
    height: 80px;
    width: 7vw;
    display: flex;
    align-items: center;
}

#myntra_img {
    height: 36px;
    width: 53px;
    padding-left: 22px;
    box-sizing: content-box;
}

#options {
    width: 46vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#options a {
    text-decoration: none;
    color: #282c3f;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

#options a sup {
    color: #ff3f6c;
}

#studio {
    padding-bottom: 2px;
}

#search_bar {
    width: 25vw;
    background-color: aquamarine;
    margin-left: 25px;
    display: flex;
    margin: 20px 0px 20px 40px;
    border-radius: 7px;
    background-color: #f5f5f6;
}

#search_icon {
    padding: 8px 0px 2px 5px;
}

#input_bar {
    border: 0px solid white;
    width: 20vw;
    padding: 1px 4px 4px 6px;
    margin: 8px 0px 2px 10px;
    font-size: 14px;
    background-color: #f5f5f6;
}

#profile_wishlist {
    display: flex;
    flex-grow: 1;
}

#in_profile_wishlist {
margin: 20px 0px 20px 5px;
display: flex;
flex-grow: 1;
justify-content:space-evenly ;
}

#in_profile_wishlist a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
}


#profile_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_png img {
   width: 20px;
}

#wishlist_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wishlist_png img {
   width: 20px;
}

#bag_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bag_png img {
   width: 20px;
}
