* {
    padding: 0px;
    margin: 0px;
}
#nav_bar {
    height: 80px;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
}

#myntra_logo {
    height: 80px;
    width: 7vw;
    display: flex;
    align-items: center;
}

#myntra_img {
    height: 36px;
    width: 53px;
    padding-left: 22px;
}