* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica;
}

/* code for nav bar */

#nav_bar {
    height: 80px;
    width: 100vw;
    /* background-color: cadetblue; */
    display: flex;
    border-bottom: 2px solid #f7f7f7;
}

#myntra_logo {
    height: 80px;
    width: 7vw;
    display: flex;
    align-items: center;
}

#myntra_img {
    height: 36px;
    width: 53px;
    padding-left: 22px;
    box-sizing: content-box;
}

#options {
    width: 46vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#options a {
    text-decoration: none;
    color: #282c3f;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

#options a sup {
    color: #ff3f6c;
}

#studio {
    padding-bottom: 2px;
}

#search_bar {
    width: 25vw;
    background-color: aquamarine;
    margin-left: 25px;
    display: flex;
    margin: 20px 0px 20px 40px;
    border-radius: 7px;
    background-color: #f5f5f6;
}

#search_icon {
    padding: 8px 0px 2px 5px;
}

#input_bar {
    border: 0px solid white;
    width: 20vw;
    padding: 1px 4px 4px 6px;
    margin: 8px 0px 2px 10px;
    font-size: 14px;
    background-color: #f5f5f6;
}

#profile_wishlist {
    display: flex;
    flex-grow: 1;
}

#in_profile_wishlist {
margin: 20px 0px 20px 5px;
display: flex;
flex-grow: 1;
justify-content:space-evenly ;
}

#in_profile_wishlist a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
}


#profile_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_png img {
   width: 20px;
}

#wishlist_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wishlist_png img {
   width: 20px;
}

#bag_png {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bag_png img {
   width: 20px;
}


/* Code for main */


#main_banner {
        background-image: url(/img/banner.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 403px;
        margin: 40px 0px 15px 0px;
}

#brands_heading {
    height: 37px;
    margin: 60px 0px 20px 30px;
    text-transform: uppercase;
    color: #3e4152;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 26px;
}

#brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 600px;
    width: 100%; */
}

#brands a img {
   width: 200px;
}


#categories_heading {
    margin: 30px 0px 20px 30px;
    text-transform: uppercase;
    color: #3e4152;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 26px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 800px;
    width: 100%; */
}

#categories a img {
    width: 250px;
 }

 /* Side fixed div code */


/* #flat_200rs_off a {
    background-color: #535766;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    bottom: 130px;
    right: 0px;
    width: 44px;
    height: 288px;
    padding: 4px;
    letter-spacing: 1px;
}

#text {
    transform: rotate(-90deg);
} */


 /* footer code */

 #footer {
    background-color: #edf0f4;
    width: 100vw;
    height: 700px;
    padding: 30px 0px 40px 0px;
 }
 

 #first {
    display: flex;
    margin: 0px 58px 24px 58px;
    height: 428px;
    /* background-color: #ff3f6c; */
 }

 #second {
    margin: 0px 58px 24px 58px;
    height: 131px;
    /* background-color: burlywood; */
 }

 #last {
    margin: 0px 58px 24px 58px;
    height: 21px;
    margin-top: 40px;
    /* background-color: deepskyblue; */
 }

 #online_and_useful {
    width: 185px;
    padding-right: 20px;
    /* background-color: maroon; */
 }

 #customer_policies {
    width: 182px;
    /* background-color: gold; */
 }

 #myntra_on_mobile {
    width: 400px;
    padding: 13px 20px 0px 0px;
    /* background-color: darkolivegreen; */
 }

 #extra_info {
    width: 350px;
    /* background-color: lightpink; */
 }

 #online_shopping {
    display: flex;
    flex-direction: column;
    padding: 20px;
 }

 #x {
    /* display: block; */
    /* flex-direction: row; */
    padding: 7px 0px 15px 0px;
 }

 #x a {
    color: #282c3f;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
 }

 #online_shopping a {
    text-decoration: none;
 }

 #x1 {
    display: flex;
    flex-direction: column;
 }

 #x1 a{
    color: #696b79;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
 }


 #useful_links {
    display: flex;
    flex-direction: column;
    padding: 20px;
 }

 #y {
    /* display: block; */
    /* flex-direction: row; */
    padding: 0px 0px 15px 0px;
 }

 #y a {
    color: #282c3f;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
 }

 #useful_links a {
    text-decoration: none;
 }

 #y1 {
    display: flex;
    flex-direction: column;
 }

 #y1 a{
    color: #696b79;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
 }

 #customer_policies {
    display: flex;
    flex-direction: column;
    padding: 20px;
 }

 #z {
    /* display: block; */
    /* flex-direction: row; */
    padding: 7px 0px 15px 0px;
 }

 #z a {
    color: #282c3f;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
 }

 #customer_policies a {
    text-decoration: none;
 }

 #z1 {
    display: flex;
    flex-direction: column;
 }

 #z1 a{
    color: #696b79;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
 }


 #myntra_on_mobile {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
 }

 #b {
    /* display: block; */
    /* flex-direction: row; */
    padding: 7px;
 }

 #myntra_on_mobile a {
    text-decoration: none;
 }

 #b a {
    color: #282c3f;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
 }

 
 #both_logos {
    display: flex;
 }

 #google_play_logo img {
    width: 180px;
    padding: 0px 10px 0px 0px;
 }

 #app_store_logo img {
    width: 135px;
    padding: 10px 0px 0px 0px;
 }


#org img {
    width: 48px;
    box-sizing: content-box;
    padding-right: 10px;
}

#org {
    display: flex;
    padding: 35px 0px 0px 20px;
}

#org p {
    color: #696b79;
    font-size: 16px;
}

#days_return img {
    width: 48px;
    box-sizing: content-box;
    padding-right: 10px;
}

#days_return {
    display: flex;
    padding: 35px 0px 0px 20px;
}

#days_return p {
    color: #696b79;
    font-size: 16px;
}

#heading {
    padding: 0px 0px 0px 20px;
}

#in_head {
    color: #282c3f;
    font-size: 12px;
    font-weight: 600;
}

#second_content {
    padding: 0px 0px 0px 20px;
    margin-top: 30px;
}

#second_content a {
    text-decoration: none;
    color: #666875;
    font-size: 15px;
    /* font-weight: 400; */
    /* letter-spacing: 0.2px; */
}


#last {
   padding: 0px 0px 0px 20px;
   color: #696b79;
   font-size: 16px;
}


#last pre a {
   text-decoration: none;
}

#flipkart_company {
   text-decoration: none;
   color: #696b79;
}